@import "variable";
@import "helper";

.btn {
  display: block;
  width: 100%;
  height: px2rem(56px);
  border-radius: 5px;
  border: 1px solid $button-color;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: $button-color;
  color: #fff;

  &[disabled] {
    border-color: #aaa;
    color: #aaa;
  }

  &.btn-transparent {
    border-color: #fff;
    color: #fff;
    background: transparent;
  }
}

a.btn {
  line-height: px2rem(54px);
}
