@import "variable";
@import "helper";

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: 1px solid $border-color;
  height: px2rem(47px);
  padding: 0 px2rem(20px);
  color: $border-color;
  display: block;
  width: 100%;
  outline: none;
  border-radius: 0;
  box-shadow: none;

  &:focus {
    border-color: darken($border-color, 20%);
  }
}

input[type="checkbox"] {
  appearance: none;
  border-radius: 0;
  width: 26px;
  height: 26px;
  border: 1px solid $main-color;
  outline: none;
  position: relative;
  background-color: #fff;

  &:checked {
    background-color: #fff;
  }

  &:checked:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 5px;
    left: 4px;
    display: table;
    width: 17px;
    height: 8px;
    border: 2px solid $main-color;
    border-top: 0;
    border-right: 0;
    content: '';
    animation: zoomSmallIn .5s ease both;
  }
}
