<template>
  <div :class="styles.root">
    <div :class="styles.Toast">
      <div :class="styles.Spinner" v-if="type == 'LOADING'">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <span>{{text}}</span>
    </div>
  </div>
</template>
<script type="text/babel">
  import styles from './Toast.scss'

  export default {
    props: {
      /**
       * toast类型
       * icon: 包含图标的提示框（默认）
       * loading: 包含loading动画的提示框
       */
      text: {
        type: String,
        default: '',
      },
      type: {
        type: String,
        default: 'TEXT',
      },
    },
    data() {
      return {
        styles,
      }
    },
  }
</script>