@import "variable";
@import "helper";

:local {
  .root {
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .Toast {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(0, 15px);
    width: px2rem(200px);
    margin-left: px2rem(-100px);
    margin-top: px2rem(-30px);
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    padding: px2rem(12px) px2rem(20px);
    border-radius: px2rem(10px);
    font-size: px2rem(16px);
    opacity: 0;
    animation: toastFadeInUp .5s ease-in-out forwards;
  }

  @-webkit-keyframes:local(toastFadeInUp) {
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .Spinner {
    margin: 10px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }

  .Spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin: 0 1px;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;

    &:nth-child(2) {
      animation-delay: -1.1s;
    }

    &:nth-child(3) {
      animation-delay: -1s;
    }

    &:nth-child(4) {
      animation-delay: -.9s;
    }

    &:nth-child(5) {
      animation-delay: -.8s;
    }
  }

  @keyframes:local(sk-stretchdelay) {
    0%,
    40%,
    100% {
      transform: scaleY(.4);
      -webkit-transform: scaleY(.4);
    }

    20% {
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
    }
  }
}
