@import "variable";
@import "reset";
@import "helper";

html,
body {
  height: 100%;
  background-color: #fff;
  font-size: px2rem(14px);
}

@import "components/animation";
@import "components/button";
@import "components/form";
