$main-color:#1d1d1f;
$button-color:$main-color;
$border-color:#a7a7a7;

$font-futura:"FuturaBook","Helvetica Neue", Helvetica, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
