@import "variable";
@import "helper";

$spacing: 20px;

:local {
  .title {
    padding: px2rem(5px) px2rem($spacing);
    background-color: #000;
    text-align: right;
    color: #fff;
  }

  .list {
    margin: px2rem($spacing) px2rem($spacing) px2rem(50px);
  }

  .product {
    border-bottom: 1px dashed #000;
    margin-bottom: px2rem(5px);
    padding: px2rem(5px);
    line-height: px2rem(25px);
    display: flex;
  }

  .productCode {
    flex: 1;
    margin: 0;
  }

  .productAction {
    span {
      margin: 0 px2rem(10px);
    }

    button {
      background: #000;
      color: #fff;
      border: 0 none;
    }
  }

  .action {
    position: fixed;
    bottom: px2rem($spacing);
    left: px2rem($spacing);
    right: px2rem($spacing);
  }

  .popup {
    display: none;

    &:global.active {
      display: block;
    }
  }

  .popupContent {
    position: fixed;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    padding: px2rem($spacing) px2rem($spacing);
    z-index: 10;

    input {
      margin: px2rem(10px) 0 px2rem($spacing);
    }

    &:global {
      animation: fadeUp .4s ease both;
    }
  }

  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(#000, .6);
  }
}
