<template >
	<div>
		<div :class="styles.title">总价 0</div>
		<div :class="styles.list">
			<div :class="styles.product">
				<h3 :class="styles.productCode">商品编号: KD100013</h3>
				<div :class="styles.productAction">
					<button><icon icon="minus"></icon></button>
					<span>数量 1</span>
					<button><icon icon="plus"></icon></button>
				</div>
			</div>
		</div>
		<div :class="styles.action">
			<button class="btn" @click="toggleCart">添加商品</button>
		</div>
		<div :class="[styles.popup, { 'active' : shouldShowCart }]">
			<div :class="styles.backdrop" @click="toggleCart"></div>
			<form :class="styles.popupContent">
				<h3>添加商品</h3>
				<input type="text" autofocus placeholder="请输入商品编号">
				<button class="btn" type="submit">确定</button>
			</form>
		</div>
	</div>
</template>

<script>
  import Icon from '../../components/icon'
  import styles from './cart.scss'

  export default {
    computed: {
    },
    methods: {
      toggleCart() {
        this.shouldShowCart = !this.shouldShowCart
      },
    },
    created() {
    },
    data() {
      return {
        styles,
        shouldShowCart: false,
      }
    },
    components: {
      Icon,
    },
  }
</script>