<template>
  <div id="app" :class="styles.root">
    <transition name="fade">
      <router-view></router-view>
    </transition>
    <weixin-share></weixin-share>
    <toast
        v-show="shouldShowToast"
        :text="uiToast.text"
        :type="uiToast.type"
    >
    </toast>
    <toast
        v-show="requestTotal"
        text="数据加载中"
        type="LOADING"
    >
    </toast>
  </div>
</template>

<script type="text/babel">
  import Vue from 'vue'
  import config from 'config'
  import styles from './App.scss'
  import { mapGetters, mapActions } from 'vuex'
  import Toast from './components/toast'
  import WeixinShare from './components/weixin-share'
  import ErrorCode from './constants/error-code'

  export default {
    computed: mapGetters([
      'shouldShowToast',
      'uiToast',
      'requestTotal',
    ]),
    methods: mapActions([
      'showToast',
      'requestStart',
      'requestFinish',
    ]),
    data() {
      return {
        styles,
        config: config,
      }
    },
    created() {
      Vue.http.interceptors.push((request, next) => {
        this.requestStart(request)
        next((response) => {
          if (!response.ok) {
            if (response.status === 404) {
              this.showToast('API 404,快呼叫开发人员')
            } else if (response.status === 400 || response.status === 500) {
              const error = response.data
              this.showToast(ErrorCode[error.errorCode] || 'API ERROR')
            }
          }
          this.requestFinish(request)
        })
      })
    },
    components: {
      Toast,
      WeixinShare,
    },
  }
</script>