@import 'styles/base';

body {
  overflow-x: hidden;
}

#app {
  height: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

