<template>
  <div :class="[ styles.root ,{'active' : shouldShowShare } ]"
       @click="toggleShare(false)">
    <div :class="styles.close">
      <a :class="styles.arrow"></a>
    </div>
    <div class="g-scale-height">
      <div :class="[styles.inner]">
        tap to share
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
  import styles from './weixin-share.scss'
  import { mapGetters, mapActions } from 'vuex'
  export default {
    props: {},
    computed: {
      ...mapGetters([
        'shouldShowShare',
      ]),
    },
    methods: {
      ...mapActions([
        'toggleShare',
      ]),
    },
    mounted() {
    },
    data() {
      return {
        styles,
      }
    },
    events: {},
  }
</script>
