@import "helper";

:local {
  .root {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(#000, .8);
    text-align: center;
    display: none;
    z-index: 90;
    color: #fff;

    &:global {
      animation: fadeIn .5s ease both;
    }

    &:global(.active) {
      display: block;
    }
  }

  .inner {
    position: absolute;
    left: 0;
    right: 0;
    top: px2rem(58px);
    text-align: center;
    font-size: px2rem(32px);
    line-height: (38/32);
  }

  .close {
    width: px2rem(110px);
    height: px2rem(91px);
    position: absolute;
    right: px2rem(22px);
    top: px2rem(14px);
  }

  .arrow {
    width: px2rem(100px);
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../weixin-share/arrow.png) 0 bottom no-repeat;
    background-size: px2rem(100px);

    &:global {
      animation: fillHeight .8s ease both;
    }
  }
}
